#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
}
#login-info{
    float: left;
}

#quick-menu{
    float: right;
}

#quick-nume .menu{
    float: left;
}

#header a,#login-info span{
    color: #999;
}

#header a{
    padding: 0 14px;
}

#header a:hover{
    color: #ff0036;
}